<div class="d-flex justify-content-center" style="color: #fae4b9">
        <div class="card-deck" style="width: 25%;">
          <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">KPTONWAREBOT IMPORTS LTD</h5>
          </div>
          <ul class="list-group list-group-flush d-flex justify-content-center" >
              <div class="d-flex justify-content-center"><h6 class="card-title">Address</h6></div>
            <li class="list-group-item" style="background-color: transparent">7 N Park Rd, Vaughan, ON L4J 0C9</li>
          </ul>
          <div class="card-body" style="border: #fae4b9;border-radius: 0.3rem;border-style: solid;border-width: 1px 1px 1px 1px;">
              <div class="d-flex justify-content-center"><a href="{{ url_for('contactUs') }}" style="color: #fae4b9"><h6 class="card-title">Contact Us</h6></a></div>
              <div class="row">
                  <div class="col"><a href="tel: +1 (647) 937 1026 " class="card-link" style="color: #fae4b9">+1 (647) 937 1026 </a></div>
                  <div class="col"><a href="tel: +1 (647) 229 3757 " class="card-link" style="color: #fae4b9">+1 (647) 229 3757 </a></div>

              </div>
              <div class="d-flex justify-content-center"><a href="mailto: kptonwarebotimports@gmail.com " class="card-link" style="color: #fae4b9">kptonwarebotimports@gmail.com</a></div>



          </div>
        </div>

    </div>
        <div class="d-flex justify-content-center" style="color: #fae4b9">
            <h6>Copyright © 2022 | <a href="{{ url_for('landing') }}" style="color: #fae4b9">Import & Export Services - KPTONWAREBOT IMPORTS LTD.</a></h6>
        </div>